* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito';
    color: white;
}

h2 {
    font-size: 20px;
}

.parrafo-pequeño {
    font-size: 12px;
}

.parrafo-mediado {
    font-size: 14px;
}

.texto-negrita {
    font-weight: bold;
}

.texto-link {
    color: #4C5EC2;
}

body {
    display: grid;
    grid-template-areas:
                'header'
                'main'
                'footer';
}
      
header {
    grid-area: 'header';
    height: 60px;
    background-color: #1A1B28;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div:first-child {
    margin-left: 60px;
}

header ul {
    display: flex;
    margin-right: 30px;
}

header i {
    color: white;
    margin-right: 40px;
}

.bi-cart {
    font-size: 25px;
}

.bi-list, .bi-person {
    font-size: 30px;
}

i {
vertical-align: middle;
}


main {
    grid-area: 'main';
    background-image: url("/EntregablePractico2/img/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 62vw;
    display: flex;
    justify-content: center;
}

main .form-container {
    margin-top: 40px;
    width: 800px;
    height: 540px;
    background-color: #121526;
    border-radius: 15px;
    box-shadow: 0 0 8px #4C5EC2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form {
    display: flex;
    flex-direction: column;

}

.form-container input {
    height: 36px;
    width: 340px;
    border-radius: 23px;
}

.form-container hr {
    background-color: #4C5EC2;
    width: 50%;
    height: 1px;
}

footer {
    grid-area: 'footer';
}