* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito';
    color: white;
    font-weight: normal;
}

a{
    cursor: pointer;
}



.logo{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: red;
}


.flaming {
    color: #4C5EC2;
    font-weight: inherit;
    font-family: 'Bubblegum Sans';
    font-size: 1.1em;
}

.games {
    color: #D83232;
    font-weight: inherit;
    font-family: 'Bubblegum Sans';
    font-size: 1.1em;
}

.p-s {
    font-size: 12px;
}

.p-m {
    font-size: 14px;
}
.p-bold{
    font-weight: bold;
}
.p-xl{
    font-size: 20px;
}

.text-black {
    font-weight: bold;
}

.texto-link {
    color: #4C5EC2;
}

body{
    background-color: #141414;
}

#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #141414;
    padding: 60px 0 0 0;                        /*los 60px son para el header*/
}
#inicio{
    padding: 1% 75px;
    display: flex;
    flex-direction: column;
}


/*///////////////////////////////////////////////////PROPIEDADES DEL HEADER///////////////////////////////////////////////////////*/
header {
    position: fixed;
    top:0px;
    width: 96%;                         /*96% porque contiene 4% de padding*/
    padding: 0 2%; 
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1B28;
    z-index: 10;
}
.navbar-list{
    width: 75px;            /*este espacio es importante para que en mobile tambien se vea bien*/
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-svg{
    width:30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}
.scroll-menu{
    display: flex;
    align-items: center;
}
/*///////////////////////////////////////////////////PROPIEDADES DE LA CARD DE SESION///////////////////////////////////////////////////////*/
.session-card{
    position: absolute;
    right: 20px;
    top: 65px;
    height: 480px;
    width: 280px;
    padding: 50px 15px 0px 15px;
    background-color: #1A1B28;
    border-radius: 8px;
    box-shadow: -5px 8px 15px rgba(0, 0, 0, 0.993); /* sombra negra semitransparente */
    z-index: 8;
}
.container-session{
    position: relative;
    z-index: 9;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 7; 
 
}
.user-info-card{
    padding: 0 29px;
   
}
.avatar-session{
    width: 60px;
    height: 60px;
}

.container-info-session{
    position: relative;
    display: flex;
    height: 110px;
    align-items: center;
    flex-direction: column;
  
}
.container-info-session > h3 {
    margin-top: -6px;
    color: #C1C1C1;
}

.svg-config-item{
    width: 20px;
    height: 20px;
}
.container-session-config{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 200px;
    padding: 25px 25px;
    margin: 25px 0px;
    display: flex;
    align-items: center;

}
.list-config{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  
}
.item-config{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-config > div {
    margin-right: 5px;
}
.item-config > a {
    margin-bottom: -5px;
    text-decoration: underline gray;
}
.session-social{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm-social-container{
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.sm-social-item{
    width: 25px;
    height: 25px;
}
.btn-close-info{
    position: absolute;
    top: -40px;
    right: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.item-config > a:hover{
    color: #929DDA ;
    text-decoration: underline #929DDA ;
}

/*////////////////////////////////////////////////////PROPIEDADES DE LA SIDEBAR/////////////////////////////////////////*/

.sidebar-categories{
    background-color: #1A1B28;
    position: fixed;
    left: 0;
    width: min-content;
    height: calc(100vh - 25px);
    display: flex;
    flex-direction: column;
    padding: 0 0 5px 0;
    overflow-y: auto;
    align-items: center;
    z-index: 10;
   
}

.sidebar-categories > hr{
    background-color: #4c5ec23b; 
    min-height: 1px;
    margin: 5px 0 5px 8px;
    width: 70%; 
    transition: width 0.7s ease;
}


.sidebar-expands{
    background-color: #1A1B28;
    overflow-y: auto;
    overflow-x: hidden;
    width: 200px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10px 0;
}


.category-item > .container-svg{
    padding: 10px;
}

.category-item{
    margin: 5px 0;
    width: 100%;
    border-left: 8px solid transparent;
    box-sizing: border-box;
    display: flex;
    align-items:center;
    cursor: pointer;
}

.category-item > p{
    padding-left: 5%;
}

.category-item:hover .category{
    margin: 0 0 0 8px;
    transition: margin 0.2s ease;
    color: #6C7BD1;
    animation: animation-category 0.5s ease-in-out both;
}
.c-active{
    width: 100%;
    border-left: 8px solid #4c5ec2b4;
    box-sizing: border-box;
    transition: border-left 0.9s ease-out;
    cursor: default;
}

.c-active:hover .category{
    margin: 0;  
    animation:none;
}

.c-active >p {
    color: #6C7BD1;
}
.c-active > .container-svg{
    cursor: default;
}

.show-all-categories{
    margin: 20px 0 20px 0;
    cursor: pointer;
}
.show-all-categories:hover{
    color:#6C7BD1;
}

/*///////////////////////////////////////////////////////////PROPIEDADES DE LAS CARDS//////////////////////////////////////////////////*/

.price{
    background-color: #AF1F1F;
    width: 98px;
    height: 38px;
    border-radius: 8px 0 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5px 0 5px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.993); /* sombra negra semitransparente */
}
.price > .container-svg{
    width: 25px;
    height: 25px;
}
article{
    position: relative;
    border-radius: 8px;
    width: min-content;
    height: min-content;
}
.card-s{
    width: 220px;
    height: 120px;
    image-rendering: crisp-edges;
}
.card-m{
    width: 220px;
    height: 325px;
    image-rendering: crisp-edges;
}
.card-xl{
    width: 450px;
    height: 250px;
    image-rendering: crisp-edges;
}
.container-game-details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #141414d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;

}
.container-game-details > h2{
    margin-bottom: 5%;
    padding: 2px 2% 0 5%;
}

.btn{
    width: 135px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
   
}

.btn-card:focus {
    animation: btn-cart 0.5s 1 linear;
}

.btn > .container-svg{
    margin-left: 5px;
}
.btn-add-cart{
    background-color: #AF1F1F;
}


.btn-in-cart{
    background-color: rgba(0, 0, 0, 0.842);
    border: 1px solid #AF1F1F;
    box-sizing: border-box;
}
 

.btn-play-game{
    background-color: #4C5EC2;
}

.btn-play-game:hover .container-svg {
    animation: btn-play 2s linear infinite;
    animation-delay: 0.5s;
}
.btn-play-game:hover span {
    display: none;
}

/*//////////////////////////////////////////////////////////////PROPIEDADES DEL CARROUSEL/////////////////////////////////////////////////////////////////////////////////*/

.container-carousel{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0;
}
.carousel{
    display: flex;
    justify-content: space-around;
    background-color: #19225954;
    border-radius: 5px;
    overflow-x: scroll;  
}
.carousel::-webkit-scrollbar {
    display: none; 
}

.item-carousel-xl{
    flex: 0 0 450px;                            
    margin: 0 8px;    
 
}
.item-carousel-s{
    flex: 0 0 220px;                           
    margin: 0 8px;    
}
.item-carousel-m{
    flex: 0 0 220px;                            
    margin: 0 8px;    
}
.section-title{
    display: flex;
    align-items: center;
    width: 30%;
    margin-bottom: 5px;
}
.section-title > a{
    color: #929DDA;
    margin-bottom: -3px;
    margin-left: 5px;
}
.section-title > button{
    margin-left: 5px;
    background-color: transparent;
    margin-bottom: -3px;
    color:#929DDA ;
}
.section-title > a:hover{
    color: #4C5EC2;
}

.btn-displace{
    cursor: pointer;
    background-color: transparent;
}

.btn-prev{
    position: sticky;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    
}
.btn-prev:hover{
    background-color: black;
}
.btn-next{
    position: sticky;
    right: 0;
    z-index: 4;
    display: flex;
    align-items: center;
}
.btn-next:hover{
    background-color: black;
}



/*///////////////////////////////////////////////PROPIEDADES DEL LOGIN//////////////////////////////////////////////////////////////*/

#log-in, #registro {
    grid-area: 'main';
    background-image: url("/src/static/assets/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 62vw;
    display: flex;
    justify-content: center;
}

#log-in-form, #registro-form {
    margin-top: 40px;
    padding: 80px 0;
    width: 800px;
    height: fit-content;
    background-color: #121526;
    border-radius: 15px;
    box-shadow: 0 0 8px #4C5EC2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log-in-form form, #registro-form form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#log-in-form p, #registro-form p {
    margin-top: 5px;
}

input, #log-in-form button, #registro-form button {
    height: 36px;
    width: 340px;
    border-radius: 23px;
    margin: 10px 0 3px 0;
    cursor: pointer;
}

.bad-input {
    border: 1px solid #F14343;
}

.wrong-user-message, .wrong-password-message {
    color: #F14343;
    margin-left: 20px;
}

.hidden {
    display: none;
}

input[type="text"], input[type="password"] {
    color: black;
    padding-left: 20px;
    width: 320px;
}

.primary-btn {
    background-color: #4C5EC2;
    font-size: 14px;
}

.primary-btn:hover {
    background-color: #3545A3;
    animation: primary-btn-hover 0.4s;
}

.google-btn, .facebook-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.google-btn {
    background-color: white;
    color: black;
}

.google-btn span:nth-child(2), .facebook-btn span:nth-child(2) {
    position: absolute;
    color: inherit;
}

.facebook-btn span:nth-child(1) {
    height: 20px;
    margin-right: auto;
    margin-left: 45px;
    height: 20px;
}

.google-btn img {
    margin-right: auto;
    margin-left: 40px;
}

.google-btn:hover {
    background-color: rgb(222, 222, 222);
    animation: primary-btn-hover 0.4s;
}

.facebook-btn {
    background-color: #3B5998;
}

.facebook-btn:hover {
    background-color: #334c83;
    animation: primary-btn-hover 0.4s;
}

#log-in-form hr {
    background-color: #4C5EC2;
    width: 50%;
    height: 1px;
    margin: 20px 0;
}

@keyframes primary-btn-hover {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.05, 0.95);
    }
    60% {
        transform: scale(0.95, 1.05);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes btn-play {
    0% {
        transform: scale(1 , 1);
    }
    50% {
        transform: scale(0.5,0.5);
    }
    100%{
        transform: scale(1,1);
    }
    
}


@keyframes animation-category {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

  
@keyframes btn-cart {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1, 0.9);
    }
    60% {
        transform: scale(0.9, 1.1);
    }
    100% {
        transform: scale(1);
    }
}
